.new-collections{
    width: 100%;
    margin-top: 35px;
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.collections{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .new-collections h1{
        font-size: 35px;
    }
}